
# Ignore everything
*

# But not these files
!*.tf
!*.yaml

# Ignore .terraform directory
.terraform/

# Ignore binary files
*.exe
*.bin
*.dll
*.zip
*.tar
*.gz
*.7z
*.rar
*.iso

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor folders
.vscode/
.idea/
